    {{ msg }}

      <table border = 1>
         <thead>
            <td>Name.</td>
            <td>Price</td>
            <td>QTY</td>
            <td>Status</td>
            <td></td>
         </thead>
         
            <tr>
               <td>{{row["NAME"]}}</td>
               <td> {{ row["PRICE"]}}</td>
               <td>{{row["QTY"]}}</td>
               <td>{{row['STATUS']}}</td>	
               <td><a href="/delete/{{row['NAME']}}">Delete</a></td>	
            </tr>
         {% endfor %}
      </table>
     

   </body>
</html>