    {{ msg }}

      <table border = 1>
         <thead>
            <td>Invoice NO.</td>
            <td>Name</td>
            <td>Contact</td>
            <td>Description</td>
            <td></td>
         </thead>
         
            <tr>
               <td>{{row["INVOICENO"]}}</td>
               <td> {{ row["NAME"]}}</td>
               <td>{{row["CONTACT"]}}</td>
               <td>{{row['DESCRIPTION']}}</td>	
               <td><a href="/delete/{{row['NAME']}}">Delete</a></td>	
            </tr>
         {% endfor %}
      </table>
     

   </body>
</html>